.idea
web-and-cli-spring-boot.iml

# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

web-and-cli-spring-boot-starter/out
web-and-cli-spring-boot-starter/build

test-app/out
test-app/build
test-app/spring-shell.log